@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-fundo: #000000;
    --cor-texto: #F6F6F6;
    --cor-destaque: #22D4FD;
    --font-padrao: 'Montserrat', sans-serif;
    --font-destaque: 'Krona One', sans-serif;
}
body {
    background-color: var(--cor-fundo);
    font-family: var(--font-padrao);
    color: var(--cor-texto);
}
strong {
    font-weight: bold;
}
/* Estilo do Cabeçalho */
.cabecalho {
    max-width: 1500px;
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
    margin-left: 8%;
    margin-top: 4%;
}
.cabecalho__menu__links {
    text-decoration: none;
    color: var(--cor-destaque);
    font-size: 1rem;
    font-weight: bold;
}
.cabecalho__menu__links:hover {
    color: var(--cor-texto);
}
/* Estido do Corpo */
.apresentacao {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5% 0 8% 0;
}
.apresentacao__conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-family: var(--font-destaque);
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 2.7rem;
}
.titulo-destaque {
    color: var(--cor-destaque);
}
.apresentacao__conteudo__texto {
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    justify-content: space-between;
}
.apresentacao__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 50%;
    padding: 12px 0;
    border: 2px solid var(--cor-destaque);
    border-radius: 10px;
}
.apresentacao__links__link:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-fundo);
    transition: 0.7s;
}
.apresentacao__links__link:hover img {
    filter: brightness(0%);
    transition: 0.7s;
}
.apresentacao__imagem {
    width: 35%;
}
/* Estilo do Rodapé */
.rodape {
    color: var(--cor-fundo);
    background-color: var(--cor-destaque);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
@media (max-width: 1200px) {
    .cabecalho__menu{
        margin: 5% 0 1% 0;
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        gap: 50px;
    }
    .apresentacao__conteudo {
        width: 65%;
    }
    .apresentacao__imagem {
        width: 50%;
    }
}
@media (max-width: 720px) {
    .cabecalho__menu{
        margin: 10% 0 4% 0;
    }
    .apresentacao__conteudo {
        width: 75%;
    }
    .apresentacao__links__link {
        width: 80%;
    }
    .apresentacao__imagem {
        width: 65%;
    }
}